gunicorn
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
curl_cffi
dash
dash-bootstrap-components
dash-extensions
Flask
frozendict
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
multitasking==0.0.9
narwhals
nest-asyncio
numpy
packaging
pandas
peewee
platformdirs
plotly
protobuf
pycparser
python-dateutil
pytz
requests
retrying
six
soupsieve
statsmodels
typing_extensions
tzdata
urllib3
websockets
Werkzeug
yfinance
zipp
matplotlib
seaborn
xgboost
scikit-learn
joblib
streamlit
